/* css for project 6*/

*, *:before, *:after {
    box-sizing: border-box;
}
img {
    max-width: 100%;
    }
body {
    background-color: rgba(78, 89, 76, 100);
    margin: 0px;
    padding: 0px;
    
    }

h1 {
    color: white;
    font-family: benton-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 36pt; 
    margin: 12px;
    }

h2 {
    color: white;
    font-family: benton-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 18pt; 
    margin: 12px;
    }

p {
    color: white;
    font-family: benton-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem;
    margin: 12px;
    }

a {
    font-family: benton-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem; 
    text-decoration: none;
    padding: 21px;
    }

.about {
    display:none;
}

.totop a {
    border: 2px solid white;
    border-radius: 10px;
    color: white;
    font-family: benton-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1rem; 
    text-decoration: none;
    padding: 21px;
    margin: 12px;
    }

.nav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 12px;
    border: 2px solid white;
    border-left: none;
    border-top-right-radius: 15px; 
    border-bottom-right-radius: 15px; 
    margin: 12px 12px 12px 0px;
    max-width: 95px;
}

.menu {
    padding-left: 107px;
    
    }

.nav img {
    width: 60px;
    padding: 6px 2px 6px 2px;
    }

