/* css for project 6*/

*, *:before, *:after {
    box-sizing: border-box;
}
img {
    max-width: 100%;
    }

body {
    background-color: rgba(78, 89, 76, 100);
    padding: 0px;
    margin:0px;
    }

h1 {
    color: white;
    letter-spacing:.75px;
    font-family: benton-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 36pt; 
    margin: 12px;
    }

li {
    color: white;
    letter-spacing:.75px;
    font-family: benton-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 36pt; 
    margin: 12px;
    }

h2 {
    color: white;
    letter-spacing:.5px;
    font-family: benton-sans, sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 20pt; 
    margin: 12px;
    }

p {
    color: white;
    font-family: benton-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16pt;
    line-height:20pt;
    margin: 12px;
    }

a {
    font-family: benton-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16pt; 
    text-decoration: none;
    padding: 21px;
    }

.about {
    display:none;
}

.desktop {display:none;}
.menub{display:none;}

.hours {
    margin: 12px 42px 42px 42px;
}

.hours p {
    line-height:26pt;
    margin:0px 12px 0px 12px;
}

.map {
    margin-top:12px;
    margin-bottom: 12px;
    min-width: 90%;
}

.hours h2 {
    margin-top: 42px;
}

.nav {
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 12px;
    border: 2px solid white;
    border-left: none;
    border-top-right-radius: 15px; 
    border-bottom-right-radius: 15px; 
    margin: 168px 12px 12px 0px;
    max-width: 95px;
}

.nav img {
    width: 60px;
    padding: 6px 2px 6px 2px;
    }

.menu {
    padding-left: 107px;
    margin-top:-558px;
    }

.grid {
  display: grid;
  grid-gap: 1rem;
  grid-template-areas: 
    "product ."
    ". price"
    "add";
  grid-template-columns: 2fr 1fr;
  padding: 1rem 1rem 0rem .5rem;
    max-width: 90%;
}

.item {
    grid-area: "product";
}

.price {
    grid-area: "price";
    padding-top: 21px;
        }

.paninis {padding-left:.5rem;}

.price p {white-space:nowrap;}

.add {
    margin: 42px 0px 21px 0px;
    }

.addb p{
    padding: 0rem 0rem 0rem .5rem;
    white-space:nowrap;
}

.iced h2{
    margin-top: 84px;
}

.specials h2 {margin-top: 84px;}

.other h2 {margin-top: 84px;}

.food h2 {margin-top: 84px;}

.paninis h2 {margin-top: 84px;}

.paninis .item {margin-top: 42px;}

.totop a {
    border: 2px solid white;
    border-bottom:none;
    border-radius: 10px 10px 0px 0px;
    color: white;
    font-family: benton-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18pt; 
    text-decoration: none;
    padding: 21px;
    align-content:center;
    margin: 12px;
    }

.foot {
    margin: 82px 0rem 0rem 0rem;
    text-align: left;
    max-width:72%;
    align-content:center;
}

.foot p, .foot h2, .totop {text-align: center;}
.totop {
    margin-top:42px;
}






@media (min-width: 600px) {
    p {}
    
    .desktop {display:block;}
    .mobile {display:none;}
    .menub{display:block;}
    .nav {display:none;}
    
    .hours {
        position:relative;
        width:100%;
        margin: 12px 0px 42px 42px;
        padding-top:21px;
    }
    
    .map {
        padding:0px;
        position: absolute;
        right:0px;
    }
    
    .hours img {
        max-width:60%;
        margin: -550px 42px 12px 270px;
        max-height: 500px;
    }
    
    .hoursb {
        padding-top: 12px;
        margin: 0px 0px 0px 0px;
    }
    
    .menu {
    margin: 84px 42px 42px 42px;
    padding-left:0px;
    }
    
    .gridb {
        display: grid;
        grid-gap: 1rem;
        grid-template-areas: 
        "left ."
        ". right";
      grid-template-columns: 1fr 1fr;
        margin-bottom:0px;
    }
    
    .iced {margin-top: -75px;}
    
    .specials .grid {
        max-width: 48%;
        margin-right: 21px;
    }
    .specials img {
        max-width:48%;
        margin: -650px 42px 12px 50%;
        max-height: 500px;
    }
    
    
    
}
    
/*@media (min-width: 1500px) {
    .gridc {
        display: grid;
        grid-gap:1rem;
        grid-template-areas:
            "hot ."
            ". iced";
        grid-template-rows: 1fr 1fr;
    }
        
    .specials {margin-top: -20000 px;}    
     
    
    .gride {
        display: grid;
        grid-gap:1rem;
        grid-template-areas:
            "other ."
            ". food";
        grid-template-rows: 1fr 1fr;
    }
}*/